{% extends "new_base.html" %}
{% load static %}

{% block head %}
<title>Devices</title>
{% endblock %}

{% block js %}
<script src="{% static "devices/devices.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div style="height: 85vh;" class="row valign-wrapper">
        <div class="col s5">
            <div class="card blue-grey darken-1 z-depth-5">
                <div class="card-image">
                    <img class="responsive-img" src="{% static "/juniper-networks-popular-img-1.jpg" %}"/>
                </div>
                <div class="card-content white-text">
                <span class="card-title">Add a Device</span>
                <p>Connect to a new Junos device.</p>
                </div>
                <div class="card-action">
                <a href="/devices_add">Add a device</a>
                </div>
            </div>
        </div>
        <div class="col s5 offset-s2">
            <div class="card blue-grey darken-1 z-depth-5">
                <div class="card-image">
                    <img class="responsive-img" src="{% static "/juniper-networks-popular-img-14.jpg" %}"/>
                </div>
                <div class="card-content white-text">
                <span class="card-title">List Devices</span>
                <p>List and manage devices.</p>
                </div>
                <div class="card-action">
                <a href="/devices_list">List devices</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}